@model Tipo_Datos.Models.Entidades.ClientesModel

@{
    ViewData["Title"] = "Editar cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Editar cliente</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Editar" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombres" class="form-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Direccion" class="form-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Cedula_RUC" class="form-label"></label>
                <input asp-for="Cedula_RUC" class="form-control" />
                <span asp-validation-for="Cedula_RUC" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="isDelete" class="form-label"></label>
                <input class="form-check-input" asp-for="isDelete" />
                <span asp-validation-for="isDelete" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
